<!DOCTYPE html>
<html>
<head>
    <title>Comp4321 Group17</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            var socket = io();
            socket.on('update', function(msg) {
                console.log(msg.data);
                location.reload();
            });
        });

        window.onload = function() {
            window.scrollTo(0, document.body.scrollHeight);
        };
    </script>
</head>
<body>
    <h1>Comp4321</h1>
    <div>
        <form action="/start" method="post">
            <button type="submit">Start Crawling</button>
        </form>
        <br/>
        <form action="/clear_database" method="post">
            <button type="submit">Clear All</button>
        </form>
        <br/>
    </div>

    {% for page in pages %}
        <p><a href="{{ page.url }}">{{ page.title }}</a></p>
        <p>url: {{ page.url }}<br></p>
        <p>last modified date: {{ page.last_modified }}</p>
        <p>size of page: {{ page.size }} words</p>
        <p>keywords: {{ page.keywords }}</p>
        <p>parent (not implemented):
        <!--ul>
        {% for parent in page_parent_map[page.url] %}
            <li>{{ parent.url }}</li>
        {% endfor %}
        </ul-->
        <p>children:</p>
        <ul>
        {% for child in page.children %}
            <li>{{ child.child_url }}</li>
        {% endfor %}
        </ul>

        ------------------------------------------------------------------------------------

    {% endfor %}
</body>
</html>